$themes: (
    light:(
        thBackgroundColor: #ffff,
        thColor : black,
        trBackgroundColor: #888,
        weekHeaderColor : red,
    ),
    dark:(
        thBackgroundColor: #0000,
        thColor : #ffff,
        trBackgroundColor: #cccccc,
        weekHeaderColor : red,
    ),
);